@font-face {
    font-family: 'FreeSetBold';
    src: url('../fonts/FreeSetBoldC.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSet';
    src: url('../fonts/FreeSetC.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSetItalic';
    src: url('../fonts/FreeSetC-Italic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSetLight';
    src: url('../fonts/FreeSetLightC.otf');
    font-weight: normal;
    font-style: normal;
}
