@font-face {
  font-family: 'FreeSetBold';
  src: url("../fonts/FreeSetBoldC.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FreeSet';
  src: url("../fonts/FreeSetC.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FreeSetItalic';
  src: url("../fonts/FreeSetC-Italic.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FreeSetLight';
  src: url("../fonts/FreeSetLightC.otf");
  font-weight: normal;
  font-style: normal; }
::-webkit-input-placeholder {
  color: #777777;
  font-size: 16px;
  font-family: 'FreeSet', sans-serif; }

::-moz-placeholder {
  color: #777777;
  font-size: 16px;
  font-family: 'FreeSet', sans-serif; }

/*Firefox19+*/
:-moz-placeholder {
  color: #777777;
  font-size: 16px;
  font-family: 'FreeSet', sans-serif; }

/*Firefox18-*/
:-ms-input-placeholder {
  color: #777777;
  font-size: 16px;
  font-family: 'FreeSet', sans-serif; }

.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'FreeSet', sans-serif;
  font-size: 12px;
  color: #000000;
  background: #ffffff;
  overflow-y: scroll; }

.container {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1160px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.header__top {
  border-bottom: 1px solid #ecf1f5; }

.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 20px 60px 20px 0; }

.header__region {
  display: inline-block;
  vertical-align: middle; }
  .header__region .cnt {
    color: #080a10;
    font-size: 16px;
    font-family: 'FreeSet', sans-serif; }
  .header__region .link {
    color: #008f97;
    border-bottom: 1px dashed #008f97;
    font-weight: bold; }

.header__right-block {
  float: right; }

.header__btn {
  position: relative;
  display: block;
  padding: 10px 7px;
  text-decoration: none;
  text-align: center; }

.header__btn-img {
  display: block;
  width: 18px;
  height: 25px;
  margin: 0 auto 10px;
  background: url("../images/sprite-icons.png") no-repeat -99px 0px; }

.header__btn-cnt {
  font-size: 12px;
  color: #080a10; }

.header__user-block {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  margin-top: 15px; }
  .header__user-block .header__user {
    display: inline-block;
    vertical-align: middle; }
    .header__user-block .header__user .header__btn-img {
      width: 18px;
      background: url("../images/sprite-icons.png") no-repeat -99px 0px; }

.header__compare {
  display: inline-block;
  vertical-align: middle; }
  .header__compare .header__btn-img {
    width: 39px;
    background: url(../images/sprite-icons.png) no-repeat -50px 0px; }

.red-num {
  position: absolute;
  background: #f45624;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-family: 'FreeSetBold', sans-serif;
  right: 5px;
  top: 2px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .red-num.ovale {
    right: 32px;
    top: 3px;
    width: auto;
    padding: 3px 7px 0;
    border-radius: 11px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3); }

.header__phone-block {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px; }
  .header__phone-block .phone__cnt {
    position: relative;
    padding-left: 50px;
    font-size: 24px;
    color: #080a10; }
    .header__phone-block .phone__cnt:before {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      left: 0;
      right: 0;
      background: url(../images/sprite-icons.png) no-repeat 0px 0px; }

.header__nav {
  box-shadow: 0 4px 40px -4px rgba(0, 0, 0, 0.1); }

.header-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0; }

.header-nav__item {
  display: inline-block;
  vertical-align: middle; }

.header-nav__link {
  display: block;
  padding: 20px 0;
  color: #080a10;
  opacity: 0.6;
  text-decoration: none;
  font-size: 16px;
  font-family: 'FreeSetBold', sans-serif; }
  .header-nav__link.active {
    opacity: 1; }
  .header-nav__link:hover {
    opacity: 1; }

.filter {
  display: block;
  border: 1px solid #d8d8d8;
  border-right: none;
  border-radius: 20px;
  margin-top: 40px; }

.filter-in {
  display: table;
  width: 100%; }

.filter__field {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  border-right: 1px solid #d8d8d8;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px; }
  .filter__field:first-child {
    width: auto; }
  .filter__field:nth-child(2) {
    width: 180px; }
  .filter__field:nth-child(3) {
    width: 140px; }
  .filter__field:nth-child(4) {
    width: 160px; }
  .filter__field:nth-child(5) {
    width: 160px; }
  .filter__field.field__btn {
    width: 200px;
    padding: 0;
    border-radius: 0 20px 20px 0;
    border-right: none; }
  .filter__field .filter__btn {
    position: absolute;
    right: 0;
    top: -1px;
    width: 200px;
    border: none;
    height: 42px;
    background: linear-gradient(#00a0a7, #007f88);
    border-radius: 0 20px 20px 0;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'FreeSetBold', sans-serif; }

.filter__inp {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  font-family: 'FreeSet', sans-serif;
  color: #080a10;
  background: url("../images/filter-arrow.png") no-repeat right center; }
  .filter__inp:focus {
    outline: none; }
  .filter__inp.calendar {
    background: url("../images/filter-calendar.png") no-repeat right center; }

.filter__guest {
  background: url("../images/filter-arrow.png") no-repeat right center; }

.guest {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px; }
  .guest.adult {
    width: 15px;
    height: 24px;
    background: url(../images/sprite-icons.png) no-repeat -199px 0px; }
    .guest.adult.adult--grey {
      background: url(../images/sprite-icons.png) no-repeat -150px 0px; }
  .guest.child {
    width: 15px;
    height: 24px;
    background: url(../images/sprite-icons.png) no-repeat -250px 13px; }

.slider {
  display: block;
  margin-top: 30px;
  text-align: right; }

.slider__item {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 120px;
  padding: 25px 0 0 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 40px;
  border: 1px solid #ecf1f5;
  border-radius: 5px;
  text-align: left; }
  .slider__item.active {
    background: #ecf1f5;
    box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.2); }
  .slider__item:hover {
    background: #ecf1f5;
    box-shadow: 0 5px 30px -1px rgba(0, 0, 0, 0.2); }
  .slider__item.arrow {
    width: 60px;
    height: 60px;
    border: 1px solid #c0cfdc;
    border-radius: 50%;
    background: url(../images/slider-arrow.png) no-repeat center;
    cursor: pointer; }
    .slider__item.arrow:hover {
      box-shadow: none;
      background: #ecf1f5 url(../images/slider-arrow.png) no-repeat center; }

.slider__cnt {
  font-size: 14px;
  font-family: 'FreeSet', sans-serif;
  color: #65686f;
  margin-bottom: 5px; }
  .slider__cnt.slider__cnt--16 {
    font-size: 16px; }
  .slider__cnt.bold {
    font-weight: bold; }
  .slider__cnt.black {
    color: #000000; }

.content {
  margin-top: 40px; }

.left-sidebar {
  display: inline-block;
  vertical-align: top;
  width: 360px; }

.hotel__block {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 400px); }

.map__block {
  position: relative;
  display: block;
  background: url(../images/map.png);
  height: 100px;
  border-radius: 20px 20px 0 0;
  padding: 40px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.map__cnt {
  color: #008f97;
  font-size: 18px;
  font-family: 'FreeSetBold', sans-serif; }

.map__btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 21px 0;
  width: 160px;
  background: linear-gradient(#f66229, #f24a1f);
  border-radius: 25px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'FreeSetBold', sans-serif; }

/*# sourceMappingURL=style.css.map */
